<div class="container text-center mt-2">
    <div class="row">
      <div class="col align-self-start">
      </div>
      <div class="col align-self-center">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{tarea}} Producto</h5>
            
            <form [formGroup]="miFormulario" autocomplete="off" (ngSubmit)="guardarEditar()" class="p-4">
              
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" id="formGroupExampleInput">
                <small *ngIf="validacionCampos('nombre')" class="form-text text-danger">
                  campo requerido minimo 5 caracteres
                </small>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Precio</label>
                <input formControlName="precio" type="number" min="5" class="form-control" id="formGroupExampleInput">
                <small *ngIf="validacionCampos('precio')" class="form-text text-danger">
                  campo requerido minimo 100
                </small>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Stock</label>
                <input formControlName="stock" type="number" min="5" max="1000" class="form-control" id="formGroupExampleInput">
                <small *ngIf="validacionCampos('stock')" class="form-text text-danger">
                  campo requerido minimo 5 y maximo 1000
                </small>
              </div>
  
              <button type="submit" [disabled]="miFormulario.invalid"
                          class="btn btn-primary mt-3">{{tarea}}</button>
  
            </form>
  
          </div>
        </div>
      </div>
      <div class="col align-self-end">
      </div>
    </div>
  </div>
  
